.sidebarOption--active,
.sidebarOption--active>p,
.sidebarOption--active>h3 {
    background-color: #fcecec;
    color: #c04b37;
    font-weight: 800 !important;
}

.sidebarOption--active>p {
    display: inline;
}